{{ define "main" }}
<div class="pa3 pa4-ns bg-near-white min-vh-100">
  
  <div class="mw9 center ph3 pt4">
    <h2 class="f3 fw6 mb3 bb b--black-10 pb2">カテゴリー</h2>
  </div>

  <div class="flex flex-wrap justify-center mw9 center">
    {{ $categories := slice 
      (dict "name" "犬種図鑑" "icon" "📖" "link" "posts/")
      (dict "name" "しつけ" "icon" "🎾" "link" "discipline/")
      (dict "name" "食事" "icon" "🍖" "link" "food/")
      (dict "name" "健康・医療" "icon" "🏥" "link" "health/")
      (dict "name" "お手入れ" "icon" "🚿" "link" "care/")
      (dict "name" "お出かけ" "icon" "🚗" "link" "outings/")
      (dict "name" "年齢診断" "icon" "🐕" "link" "age-check/")
      (dict "name" "その他" "icon" "✨" "link" "others/")
      (dict "name" "FAQ" "icon" "❓" "link" "faq/")
    }}

    {{ range $categories }}
    <div class="w-50 w-33-ns pa2">
      <a href="{{ .link | relURL }}" class="db ba br3 b--black-10 pa3 pa4-ns bg-white hover-bg-gold no-underline h-100 shadow-4 transition-all flex flex-column justify-center tc">
        <span class="f2 f1-ns mb2">{{ .icon }}</span>
        <h2 class="f6 f5-ns black ma0">{{ .name }}</h2>
      </a>
    </div>
    {{ end }}
  </div>
</div>

<style>
  .transition-all { transition: all 0.2s ease-in-out; }
  .hover-bg-gold:active, .hover-bg-gold:hover { 
    transform: translateY(-3px); 
    background-color: #FFD700; 
    border-color: transparent;
  }
  @media screen and (max-width: 30em) {
    .w-50 { width: 50%; }
  }
</style>
{{ end }}
